//COLORS
$color-primary-light:rgb(126, 213, 111);
$color-primary: rgb(85, 197, 122);
$color-primary-dark: rgb(40, 180, 133);

$color-secondary:rgb(240, 240, 240);

$color-white: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);

$color-grey-dark: rgb(104, 104, 104);
$color-grey-darker: rgb(68, 68, 68);
$color-grey-darkest: rgb(32, 32, 32);
$color-grey-light: rgb(214, 214, 214);

$color-orange-light: rgb(255, 201, 51);
$color-orange: rgb(255, 112, 35);

$color-blue-light:rgb(79, 170, 255);
$color-blue:rgb(80, 62, 240);


//FONT
$default-font-size: 1.6rem;


//GRID
$grid-width-lg: 114rem;
$grid-width-sm: 50rem;
$gutter-lg: 8rem;
$gutter-sm: 6rem;
/* FOR PRACTICE AND CLARITY*/
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;


//MEDIA QUERY BREAKPOINT
$xs: 600px; //phone
$sm: 900px; //tablet-portrait
$md: 1200px; //tablet-landscape
$xl: 1800px; //large-desktop /* normal screen is lg */