.u-center-text{
    text-align: center;
}


.u-margin-bottom-sm{
    margin-bottom: 1.5rem;
}
.u-margin-bottom-md{
    margin-bottom: 4rem;

    @include respond($sm){
        margin-bottom: 2.5rem;
    }
}
.u-margin-bottom-lg{
    margin-bottom: 7.5rem;

    @include respond($sm){
        margin-bottom: 4.5rem;
    }
}
.u-margin-bottom-xl{
    margin-bottom: 9rem;

    @include respond($sm){
        margin-bottom: 6rem;
    }
}

.u-margin-top-sm{
    margin-top: 1.5rem;
}
.u-margin-top-md{
    margin-top: 4rem;

    @include respond($sm){
        margin-bottom: 2.5rem;
    }
}
.u-margin-top-lg{
    margin-top: 7.5rem;

    @include respond($sm){
        margin-bottom: 4.5rem;
    }
}
.u-margin-top-xl{
    margin-top: 9rem;

    @include respond($sm){
        margin-bottom: 6rem;
    }
}